.socials {
    height: 32px;
    margin: 0 10px 10px 0; 
}

.container{
    margin:6em auto;
    width: 60%;
    display: flex;
    gap: 20em;
}

.logos {
    display: inline;
    width: 30%;
}

.header {
    position: fixed;
    align-items: center;
    top: 12em;
}


:root {
    font-family: Inter, sans-serif;
    font-feature-settings: 'liga' 1, 'calt' 1;
  }
  @supports (font-variation-settings: normal) {
    :root { font-family: InterVariable, sans-serif; }
  }

