main {
    position: absolute;
    top: 10em;
    right: 20%;
    width: 40%;
}

header {
    position: fixed;
    top: 10em;
    left: 10em;
}

section {
    margin-bottom: 5em;
}

ul li {
    list-style-type: none;
}

.container{
    margin:6em auto;
    width: 60%;
    gap: 20em;
}

.presentation {
    font-size: 2em;
}

.formation {
    line-height: 10px;
    margin-bottom: 30px;
}

.skills {
    columns: 2;
}

.grid-container {
        display: grid;
        grid-template-columns: auto auto;
        padding: 10px;
    }
  
.grid-item {
    padding: 20px;
    font-size: 20px;
    text-align: center;
}

.logos {
    display: inline;
    width: 30%;
}

.socials {
    height: 32px;
    margin: 0 10px 10px 0; 
}




:root {
    font-family: Inter, sans-serif;
    font-feature-settings: 'liga' 1, 'calt' 1;
  }
  @supports (font-variation-settings: normal) {
    :root { font-family: InterVariable, sans-serif; }
  }

