/* ############# Global ############# */

body {
    color:white;
    background-color:rgb(30, 5, 60);
}

/* ############# Main Columns ############# */

body {
    display: flex;
    flex-direction: column;
    margin-bottom: 10em;
}

.columns {
    display: flex;
    flex-direction: row;
}

main {
    margin-top: 15em;
}

.bloc { 
    position: fixed;
    z-index: 3; /* ignore rain */
}

/***** Mobile ******/
@media (max-width:1000px)  { 
    .bloc {
        background-color: rgba(40, 10, 70);
        display:inline;
        top: 0;
        left: 0;
        width: 100%;
        height: 8em;
    }

    .bloc .text {
        left: 30em;
        width: 80%;
        margin-left: 10%;
        display: flex;
        justify-content: space-between; 
    }

    .bloc h1 {
        font-size: 3em;
    }

    header {
        width: 10%;
    }
    
    main {
        width: 80%;
    }
}

/****** Desktop ******/
@media (min-width:1000px)  { 
    .bloc {
        background-color: rgba(40, 10, 70, 0.5);
        top: 10em;
        left: 10em;
        padding: 1em;
        font-size: 1.2vw;
    }

    .bloc h1 {
        font-size: 3em;
    }

    header {
        width: 40%;
    }
    
    main {
        width: 50%;
    }

}

/****** General Formating ******/

main ul {
    list-style-type: none;
    margin-bottom: 30px;
}

/****** Spacing & Font Size ******/

main section {
    margin-bottom: 5em;
    /* box-shadow: 0 0 3px white;
    padding: 1em; */
}

main h2 {
    margin-bottom: 2em;
}

/* .wrapper {
    display: grid;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: repeat(2, 50px);
    gap: 10px;
} */
  
.presentation {
    font-size: 2em;
    margin-bottom: 15em;
}

.formation {
    line-height: 10px;
    margin-bottom: 30px;
}

/****** Footer ******/

footer {
    text-align: center;
    opacity: 0.3;
    margin-top: 15em;
}

.socials {
    height: 2em;
    margin-right: 10px;
    margin-bottom: 2em;
}

/****** Font ******/

:root {
    font-family: Inter, sans-serif;
    font-feature-settings: 'liga' 1, 'calt' 1;
}
@supports (font-variation-settings: normal) {
:root { font-family: InterVariable, sans-serif; }
}



/****** Rain ******/

.rain-container {
    top:0.5vh;
    left:0.5vw;
    width: 99vw;
    height: 99vh;
    pointer-events: none; 
    z-index: 1; 
}

.raindrop {
    position: fixed;
    width: 0.15em;
    height: 0.6em;  
    background-color: rgba(255, 255, 255, 0.1); 
    animation: fall linear infinite;
}

/* Raindrop animation */
@keyframes fall {
    to {
        transform: translateY(100vh);
    }
}